body{
    background: #ccc;
}

#formulario{
    margin-left: 480px;
    margin-top: 40px;
    width: 180px;
    height: 300px;
    padding: 0 80px;
    border: 2px solid #000;
    background: #fff;
}

.button {
    background-color: #000;
    color: white;
    padding: 10px 58px;
    margin: 0;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.button:hover{
    width: auto;
    background-color: #ccc;
}

h2{
	font-size: 12px;
}

h1{
    margin-left: 510px;
    margin-top: 50px;
}